:root {
	--clr-white: rgb(255 255 255);
	--clr-black: rgb(0 0 0);
	--clr-grey: rgb(186 188 184);
}

@font-face {
	font-family: "EBGaramond-Bold";
	src: url("fonts/EBGaramond-Bold.ttf");
}

@font-face {
	font-family: "EBGaramond-Medium";
	src: url("fonts/EBGaramond-Medium.ttf");
}

@font-face {
	font-family: "EBGaramond-Regular";
	src: url("fonts/EBGaramond-Regular.ttf");
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;

	// max-width: 150ch;
	// margin-left: auto;
	// margin-right: auto;
	background-color: var(--clr-black);
	color: var(--clr-white);
	font-family: "EBGaramond-Regular", sans-serif;
}

a {
	transition: 150ms;
}

a:hover {
	opacity: 0.38;
}
